
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans",sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: #8F25A9;
}
.content{
    width: 90vw;
    height: auto;
    margin: 20px auto;
    background-color: #EFE6F7;
    border-radius: 10px;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #bb97da;
    padding: 30px 20px 15px 20px;
    border-radius: 10px 10px 0 0;
    
}

img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
header  .header{
    display: flex;
    align-items: center;
}
header .left{
    color: #9E9E9F;
    background-color: white;
    font-weight: 700;
    margin-left: 50px;
    border-radius: 5px;
    /*transform: scale(1,0.7);*/
    padding: 0;
    
}

header .left p{
    margin-right: 20px;
    border-right: 1px solid black;
    padding: 0px 30px;
}
header .left i{
    font-size: 25px;
    padding: 0 20px 0 0;

}


header .right{
    color: white;
}
header .right p{
    margin-right: 10px;
    font-weight: 800;
}

header .right i{
    margin-right: 50px;
    margin-left: 10px;
}


/* header */
/* subcontent */

.subcontent{
    margin: 30px 70px;
}

/* navbar */
.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style-type: none;
    
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    font-weight: 700;
    color: #8C8582;
    transition: ease-in 0.1s;
}
.nav ul li a:hover{
    color: black;
}

.searchbox i{
    background-color: #bf77d1;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.searchbox i:hover{
    background-color: #8F25A9;
}
.searchbox input{
    height: 35px;
    width: 15vw;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border: 1px solid #9E9E9F;
}


/* navbar */
/* edit buttons */


.functionicons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top:30px;
    align-items: center;
}
.functionicons .left{
    margin-left: 20px;
}

.functionicons .left i{
    margin-right: 20px;
    color:#3c3c3f ;
    font-size: 20px;
}
.functionicons .left i:hover{
    color: #f3355e;
}

.functionicons .right{
    background-color: #f3355e;
    padding: 5px 20px;
    border-radius: 5px;
}
.functionicons .right a{
    color: white;
}
.functionicons .right i{
    color: white;
}
.functionicons .right:hover , .functionicons .left i:hover{
    cursor: pointer;
}

/* edit buttons */
/* maindata */

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;

}
.item{
    background-color: white;
    height: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #9E9E9F;
}

/* maindata */
/* pagination*/

.pagination{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.pagination ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 30px;
}
.pagination ul li{
    margin-left: 30px;
}
.pagination ul li a{
    color: #414144;
    font-weight: 700;
}
.pagination .pagecounter{
    color:#414144 ;
}
.pagination ul li a:hover{
    color:#f3355e;
}